version: '3.8'

services:
  vault:
    image: hashicorp/vault:latest
    container_name: vault_server
    ports:
      - "8200:8200"
    environment:
      VAULT_DEV_ROOT_TOKEN_ID: "dev-token"
      VAULT_ADDR: "http://0.0.0.0:8200"
    cap_add:
      - IPC_LOCK

  webapp:
    build: ./web-app 
    container_name: python_app
    ports:
      - "5000:5000" 
    environment:
      VAULT_ADDR: "http://vault:8200"
      VAULT_TOKEN: "dev-token"
    depends_on:
      - vault
